realseries/models/__pycache__/
realseries/__pycache__/
realseries/utils/__pycache__/
.vscode/*
notebooks/.ipynb_checkpoints/
examples/data/*
docs/_build/*
snapshot/*
saved_fig/*
examples/.ipynb_checkpoints/sali_map-checkpoint.py
